{{!< default}}

<article-list>
  {{#tag}}
  <h1>Posts tagged &ldquo;{{ name }}&rdquo;</h1>
  {{#if feature_image}}
  {{> "components/feature-image" }}
  {{/if}}

  <p>
    {{#if description}}
    {{ description }}
    {{else}}
    {{plural ../pagination.total empty='posts' singular='% post' plural='% posts'}}
    {{/if}}
  </p>
  {{/tag}}

  {{#foreach posts}}
  {{> "components/card" page=../pagination.page }}
  {{/foreach}}
</article-list>
