/* Styles for Ghost Content */

content {
  /* Applies to all content cards */
  /*----------*/
  /* .kg-card { } */

  /* Layout utils. Can apply to headers, galleries, images, etc. */
  /*----------*/
  .kg-width-wide {
    position: relative;
    width: 70vw;
    margin-left: calc(var(--spacing) * -12);
    margin-right: 0;
  }

  .kg-width-full {
    position: relative;
    width: 99vw;
    margin-left: calc(var(--spacing) * -12);
    margin-right: 0;
  }

  /* Color Variants */
  /*----------*/
  --card-bg-white: #ffffff;
  --card-bg-grey: #abb4be33;
  --card-bg-blue: #14b8ff33;
  --card-bg-green: #30cf4333;
  --card-bg-yellow: #ffb41f33;
  --card-bg-red: #f50b2333;
  --card-bg-pink: #fb2d8d33;
  --card-bg-purple: #8e42ff33;

  /* .kg-cta-bg-none { } */
  .kg-callout-bg-white,
  .kg-cta-bg-white {
    background-color: var(--card-bg-white);
  }
  .kg-callout-bg-grey,
  .kg-cta-bg-grey {
    background-color: var(--card-bg-grey);
  }
  .kg-callout-bg-blue,
  .kg-cta-bg-blue {
    background-color: var(--card-bg-blue);
  }
  .kg-callout-bg-green,
  .kg-cta-bg-green {
    background-color: var(--card-bg-green);
  }
  .kg-callout-bg-yellow,
  .kg-cta-bg-yellow {
    background-color: var(--card-bg-yellow);
  }
  .kg-callout-bg-red,
  .kg-cta-bg-red {
    background-color: var(--card-bg-red);
  }
  .kg-callout-bg-pink,
  .kg-cta-bg-pink {
    background-color: var(--card-bg-pink);
  }
  .kg-calloiut-bg-purple,
  .kg-cta-bg-purple {
    background-color: var(--card-bg-purple);
  }

  /* Headers */
  /*----------*/
  .kg-header-card {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .kg-header-card.kg-width-wide,
  .kg-header-card.kg-width-full {
    padding: calc(var(--spacing) * 12);
  }
  .kg-header-card.kg-layout-split {
    padding: 0;
    picture {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  /* .kg-header-card-content { } */
  /* .kg-header-card-text { } */
  /* .kg-header-card-heading { } */

  /* Images and Embeds */
  /*----------*/
  /* .kg-image-card { } */
  /* .kg-image { } */
  /* .kg-embed-card { } */
  .kg-image-card figcaption {
    text-align: center;
  }

  /* Media Embeds. See https://docs.ghost.org/themes/content for details */
  /*----------*/
  /* .kg-audio-card { } */
  /* .kg-file-card { } */
  /* .kg-video-card { } */

  /* Gallery Card */
  /*----------*/
  /* .kg-gallery-card { } */
  /* .kg-gallery-container { } */
  /* .kg-gallery-row { } */
  /* .kg-gallery-image { } */

  /* Code Card */
  /*----------*/
  /*
   * Ghost code blocks without captions render as
   * <pre>
   *   <code></code>
   * </pre>
   *
   * Ghost code blocks with captions render as
   * <figure class="kg-code-card">
   *   <pre><code></code></pre>
   *   <figcaption>
   * </figure>
   *
   * We need do some overrides to get formatting consistent
   */
  .kg-code-card {
    pre {
      margin-block-end: 0;
      border-radius: var(--s-3) var(--s-3) 0 0;
    }
    figcaption {
      padding-inline-start: var(--s0);
      padding-block-end: var(--s-2);
      border-radius: 0 0 var(--s-3) var(--s-3);
      background-color: #2e3440;
      color: var(--color-neutral-200);
    }
    figcaption p {
      margin: 0;
      font-size: var(--font-2xs);
      font-family: var(--font-display);
      font-style: italic;
    }
  }

  pre:has(> code) {
    width: 100%;
    padding: var(--s0);
    border-radius: var(--s-3);
    font-size: var(--font-xs);
  }

  /* Call to Action Card */
  /*----------*/
  /* .kg-cta-card { } */
  /* .kg-cta-sponsor-label-wrapper { } */
  /* .kg-cta-sponsor-label { } */
  /* .kg-cta-content { } */
  /* .kg-cta-image-container { } */
  /* .kg-cta-content-inner { } */
  /* .kg-cta-text { } */
  /* .kg-cta-button { } */

  /* Callout Card */
  /*----------*/
  .kg-callout-card {
    background-color: var(--color-accent-med-light);
    color: var(--color-accent-dark);
  }
  /* .kg-callout-emoji { } */
  /* .kg-callout-text { } */

  /* Sign Up Card */
  /*----------*/
  /* .kg-signup-card { } */
  /* .kg-signup-card-content { } */
  /* .kg-signup-card-text { } */
  /* .kg-signup-card-heading { } */
  /* .kg-signup-card-subheading { } */
  /* .kg-signup-card-form { } */
  /* .kg-signup-card-fields { } */
  /* .kg-signup-card-input { } */
  /* .kg-signup-card-button { } */
  /* .kg-signup-card-button-default { } */
  /* .kg-signup-card-button-loading { } */
  /* .kg-signup-card-success { } */
  /* .kg-signup-card-error { } */
  /* .kg-signup-card-disclaimer { } */

  /* Bookmark Card */
  /*----------*/
  /* .kg-bookmark-card { } */
  /* .kg-bookmark-container { } */
  /* .kg-bookmark-content { } */
  /* .kg-bookmark-title { } */
  /* .kg-bookmark-description { } */
  /* .kg-bookmark-metadata { } */
  /* .kg-bookmark-icon { } */
  /* .kg-bookmark-author { } */
  /* .kg-bookmark-publisher { } */
  /* .kg-bookmark-thumbnail { } */

  /* Toggle Card */
  /*----------*/
  /* .kg-toggle-card { } */
  /* .kg-toggle-heading { } */
  /* .kg-toggle-heading-text { } */
  /* .kg-toggle-card-icon { } */
  /* .kg-toggle-content { } */

  /* Product Card */
  /*----------*/
  /* .kg-product-card { } */
  /* .kg-product-card-container { } */
  /* .kg-product-card-image { } */
  /* .kg-product-card-title-container { } */
  /* .kg-product-card-title { } */
  /* .kg-product-card-description { } */

  /* Buttons */
  /*----------*/
  /* .kg-button-card { } */
  /* .kg-btn { } */

  /* Block Quote */
  /*----------*/
  /* blockquote { } */
  /* .kg-blockquote-alt { } */

  /* Separator */
  /*----------*/
  /* hr { } */
}
