/* Fonts */
/* Allow font overrides in the theme UI, otherwise use families defined in the Tailwind theme */
/* -------------- */

@theme {
  --font-display: var(--gh-font-heading, var(--font-humanist)), var(--font-sans), sans-serif;
  /* On my system, this font supports:
   * thin
   * light
   * normal
   * medium
   * semibold
   * bold
   **/
  --font-body: var(--gh-font-body, var(--font-transitional)), var(--font-sans), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display);
}
body {
  font-family: var(--font-body);
}
