body {
  @mixin stack var(--s3);
  padding: 2vw;
}

body > footer {
  border-block-start: thin solid var(--color-border);
  padding-block: var(--s2);
}

.content-wrapper {
  @mixin sidebar-parent 2rem;
}

.content-wrapper > header {
  @mixin sidebar 20rem;
}

.content-wrapper > main {
  @mixin sidebar-content 50%;
}

.article-list {
  @mixin stack var(--s2);

  article:not(:last-child) {
    padding-bottom: var(--s2);
    border-block-end: thin solid var(--color-neutral-100);
  }
}
