:root {
  /* Spacing */
  --ratio: 1.5;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));

  /* @link https://utopia.fyi/type/calculator?c=360,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --step--2: clamp(0.7813rem, 0.7736rem + 0.0341vw, 0.8rem);
  --step--1: clamp(0.9375rem, 0.9119rem + 0.1136vw, 1rem);
  --step-0: clamp(1.125rem, 1.0739rem + 0.2273vw, 1.25rem);
  --step-1: clamp(1.35rem, 1.2631rem + 0.3864vw, 1.5625rem);
  --step-2: clamp(1.62rem, 1.4837rem + 0.6057vw, 1.9531rem);
  --step-3: clamp(1.944rem, 1.7405rem + 0.9044vw, 2.4414rem);
  --step-4: clamp(2.3328rem, 2.0387rem + 1.3072vw, 3.0518rem);
  --step-5: clamp(2.7994rem, 2.384rem + 1.8461vw, 3.8147rem);
  --font-xs: var(--step--2);
  --font-sm: var(--step--1);
  --font-base: var(--step-0);
  --font-md: var(--step-1);
  --font-lg: var(--step-2);
  --font-xl: var(--step-3);
  --font-2xl: var(--step-4);
  --font-3xl: var(--step-5);
  --measure: 70ch;

  /* Fonts
  /* These are taken from https://modernfontstacks.com */
  --font-antique: Superclarendon, "Bookman Old Style", "URW Bookman", "URW Bookman L", "Georgia Pro", Georgia, serif;
  --font-classical-humanist: Optima, Candara, "Noto Sans", source-sans-pro, sans-serif;
  --font-didone: Didot, "Bodoni MT", "Noto Serif Display", "URW Palladio L", P052, Sylfaen, serif;
  --font-geohumanist: "Avenir", "Montserrat", "Corbel", "URW Gothic", "source-sans-pro", "sans-serif";
  --font-handwritten: "Segoe Print", "Bradley Hand", Chilanka, TSCu_Comic, casual, cursive;
  --font-humanist: Seravek, "Gill Sans Nova", Ubuntu, Calibri, "DejaVu Sans", source-sans-pro, sans-serif;
  --font-industrial:
    Bahnschrift, "DIN Alternate", "Franklin Gothic Medium", "Nimbus Sans Narrow", sans-serif-condensed, sans-serif;
  --font-mono-code: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas, "DejaVu Sans Mono", monospace;
  --font-mono-slab: "Nimbus Mono PS", "Courier New", monospace;
  --font-neogrotesque: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial, sans-serif;
  --font-old-style: "Iowan Old Style", "Palatino Linotype", "URW Palladio L", P052, serif;
  --font-rounded-sans:
    ui-rounded, "Hiragino Maru Gothic ProN", Quicksand, Comfortaa, Manjari, "Arial Rounded MT", "Arial Rounded MT Bold",
    Calibri, source-sans-pro, sans-serif;
  --font-slab-serif: Rockwell, "Rockwell Nova", "Roboto Slab", "DejaVu Serif", "Sitka Small", serif;
  --font-system-ui: system-ui, sans-serif;
  --font-transitional: Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;

  /* --font-display: var(--gh-font-heading, var(--font-humanist, sans-serif)); */
  /* --font-display: var(--gh-font-heading, var(--font-geohumanist, sans-serif)); */
  --font-body: var(--gh-font-body, var(--font-transitional, sans-serif));
  --font-display: var(--gh-font-heading, Inter, sans-serif);
  --font-mono: var(--font-mono-code, monospace);
  @supports (font-variation-settings: normal) {
    --font-display: var(--gh-font-heading, InterVariable, sans-serif);
  }

  /* Colours */
  --color-neutral-50: #f4f3f2;
  --color-neutral-100: #e2e1df;
  --color-neutral-200: #c8c4c0;
  --color-neutral-300: #a8a29c;
  --color-neutral-400: #8f8780;
  --color-neutral-500: #79716b;
  --color-neutral-600: #6e6460;
  --color-neutral-700: #59524f;
  --color-neutral-800: #4d4846;
  --color-neutral-900: #453f3e;
  --color-neutral-950: #262322;

  --color-accent-light: #abf0c5;
  --color-accent-med-light: #5e9c73;
  --color-accent-med: #395042;
  --color-accent-dark: #222f27;

  --color-border: var(--color-neutral-300);

  /* --color-neutral-light: oklch(98.5% 0.001 106.423); */
  /* --color-neutral-med: oklch(86.9% 0.005 56.366); */
  /* --color-neutral-muted: oklch(44.4% 0.011 73.639); */
  /* --color-neutral-dark: oklch(27.4% 0.006 286.033); */
  /* --color-neutral-light: var(--color-stone-50); */
  /* --color-neutral-med: var(--color-stone-300); */
  /* --color-neutral-muted: var(--color-stone-600); */
  /* --color-neutral-dark: var(--color-zinc-800); */
}
