<footer>
  {{ navigation type="secondary"}}
  <div class="hidden">
  </div>

  <ul class="flex gap-4 [&_svg]:h-6 [&_svg]:w-6">
    <li>
      <a href="https://github.com/christopher-b/" rel="noopener nofollow" target="_blank">
        {{> "icons/github"}}
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/christopher-bennell/" rel="noopener nofollow" target="_blank">
        {{> "icons/linkedin"}}
      </a>
    </li>
    <li>
      <a href="https://bsky.app/profile/cbennell.com" rel="noopener nofollow" target="_blank">
        {{> "icons/bsky"}}
      </a>
    </li>
    <li>
      <a href="mailto:cbennell@hey.com" rel="noopener nofollow">
        {{> "icons/email"}}
      </a>
    </li>
    <li>
      <a href="{{asset "files/christopher_bennell_resume.pdf"}}" rel="noopener nofollow" target="_blank">
        {{> "icons/file"}}
      </a>
    </li>
  </ul>
</footer>